[user]
	name = Chris McC
	email = mcclelland.c@gmail.com
[alias]
  # I like using the interactive mode to make complex commits
  add = add --all
  ai = add --interactive

  # All the aliases relate to commits. Note that
  # they are grouped by common prefixes, so I don't
  # confuse what I want done by accident.
  c = commit
  # commit with a message
  cm = commit -m
  cma = commit -a -m
  cam = commit -a -m
  # amending the previous commit
  ca = commit --amend
  caa = commit -a --amend -C HEAD

  # push shortcuts
  pp = push production master
  pd = push origin dev
  pm = push origin master
  pull = pull --rebase

  # reset
  ## soft resets
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  ## hard resets
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh1 = reset HEAD^^ --hard

  # shortcuts for commands
  s = status
  d = diff
  a = add . --all
  co = checkout
  b = branch
  l = log
  f = fetch
  r = reset
  p = push
[help]
	autocorrect = 5
[push]
	default = current
[grep]
  extendRegexp = true
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  grep = auto
[merge "ours"]
	driver = true
[merge "theirs"]
	driver = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
